.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AboutUsContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1110px;
}

.AboutUsContent > .LoremIpsumContent {
    font-size: 14pt;
    text-align: left;
    font-family: Roboto Slab;
    color: #555555;
    padding-left: 30px;
    margin-top: 73px;
    margin-bottom: 73px;
}

.people {
    display: flex;
    flex-direction: row;
    width: 1140px;
    justify-content: space-around;
    margin-bottom: 200px;
}

.teamMember {
    position: relative;
    height: 249px;
    width: 249px;
    overflow: hidden;
    cursor: pointer;
}

.teamMemberImage {
    position: absolute;
    left: -17px;
    z-index: 2;
}

.rectangleHover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 3;
}

.rectangleHover:hover {
    background-color: gray;
    opacity: 0.5;
}
.rectangleHover .socialsLogo:hover{
    opacity: 100%;
}

.facebook {
    position: absolute;
}

.socialNetworks {
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding-top: 62px;
    position: relative;
}

.socialPosition {
    padding-top: 188px;
}

.socialsLogo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.socialNetworks > .socialsLogo:first-child {
    margin-left: 0;
}

.socialBackground {
    width: 28px;
    height: 28px;
    position: relative;
}

.name,
.profession {
    font-size: 14px;
    font-family: Montserrat;
    text-align: center;
    color: #555555;
    margin-top: 20px;
}

.profession {
    font-size: 13px;
    font-family: Roboto Slab;
}

.facebook {
    z-index: 1;
}
@media screen and (max-width: 320px) {
    .people {
        width: 100%;
        height: 100%;
        margin-bottom: 60px;
    }
    .AboutUsContent {
        display: block;
        width: 100%;
    }
    .AboutUsContent > .LoremIpsumContent {
        text-align: center;
        padding-left: 0;
        margin-top: 60px;
    }
    .people {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .name,
    .profession{
        font-size: 20px;
    }
    .profession{
        margin-bottom: 20px;
    }
    .services{
        height: 100%;
    }
    .socialNetworks {
        position: relative;
        z-index: 5;
    }
}

/*# sourceMappingURL=aboutus.css.map */
