.clients, .namesOfClients{
    display: flex;
    justify-content: center;
    width: 100%;
}
.namesOfClients{
    flex-direction: column;  
    display: flex;
    justify-content: center;  
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 80px;
    justify-content: center;
}
.clientImage{
    margin-left: 62px;
}
.logos > .clientImage:first-child{
    margin: none;
}
.Smaller{
    height: 27px;
}
.clientText{
    font-family: Roboto Slab;
    font-size: 18px;
    color: #555555;
    text-align: center;
    font-style: italic;
    line-height: 28px;
    margin-bottom: 37px;
}
.author{
    font-family: Roboto Slab;
    font-size: 20px;
    text-align: center;
    color: #555555;
}
.round{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #dddddd;
    cursor: pointer;
}
.dots{
    flex-direction: row;  
    display: flex;
    justify-content: center;  
    margin-top: 46px;
    margin-bottom: 200px;
}
.round{
    margin-left: 7px;
}
.dots>.round:first-child{
    margin-left: 0;
}
.round:hover{
    background-color: #c0301c;
}

@media screen and (max-width: 320px) {
    .logos>.clientImage {
        margin-bottom: 30px;
    }
    .logos{
        margin-bottom: 30px;
    }
    .clientText{
        font-size: 23px;
    }
    .dots{
        margin-bottom: 60px;
    }
}
       