.footer{
    padding-top: 99px;
    background-color: #c0301c;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.twitterLogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}
.bird {
    position: absolute;
}
.socialLogo{
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14px;
}
.twitterLogo > .socialLogo:first-child{
    margin-left: 0px;
}
.line{
    width: 50px;
    background-color: white;
    height: 3px;
    margin-bottom: 30px;
}
.footerText{
    color: white;
    font-family: Roboto Slab;
    font-size: 12px;
    margin-bottom: 99px;
}
@media screen and (max-width: 320px) {
    .footer {
        width: 100%;;
    }
}