.forms {
    margin-bottom: 100px;
}
.sendMessage {
    display: flex;
    justify-content: center;
    margin-top: 74px;
}
.sendMessageTab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.info,
.rectangleForms {
    display: flex;
    flex-direction: column;
}
.infoName {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    color: #646464;
    margin-bottom: 20px;
}
.line2,
.line3 {
    font-family: Roboto Slab;
    font-size: 12px;
    color: #646464;
}
.line2 {
    margin-bottom: 11px;
}
.line3 {
    margin-bottom: 37px;
}
.icon {
    padding-right: 15px;
}
.address {
    height: 17px;
    width: 14px;
}
.icons {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}
.addressPin {
    display: flex;
    flex-direction: row;
}
.phone {
    height: 19px;
    width: 12px;
}
.mail {
    height: 11px;
    width: 15px;
}
.nameAndMail,
.subjectAndCompanyName,
.button {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.yourName,
.yourEmail,
.subject,
.companyName,
.writeYourMessage {
    width: 350px;
    height: 44px;
    border-color: #555555;
    color: #555555;
    cursor: pointer;
    text-indent: 17px;
}
.writeYourMessage {
    width: 738px;
    height: 102px;
    cursor: pointer;
}
.red {
    color: red;
}
.yourName,
.subject {
    margin-right: 30px;
}
.nameAndMail,
.subjectAndCompanyName,
.writeYourMessage {
    margin-bottom: 21px;
}
.sendMessageButton {
    width: 167px;
    height: 45px;
    margin-right: 38px;
    background-color: transparent;
    font-family: Roboto Slab;
    color: #555555;
    border-color: #555555;
    cursor: pointer;
}
.yourName:focus,
.yourEmail:focus,
.subject:focus,
.companyName:focus,
.writeYourMessage:focus {
    outline: none;
    border: 2px solid #c0301c;
}
.sendMessageButton:hover{
    outline: none;
    border: 2px solid #c0301c;
}
@media screen and (max-width: 320px) {
    .sendMessageTab, 
    .nameAndMail,
    .subjectAndCompanyName, {
        flex-direction: column;
    }
    .writeYourMessage{
        width: 100%;
    }
    .logos,
    .posts{
        display: block;
    }
    .yourName,
    .subject,
    .yourEmail,
    .companyName{
        margin-right: 0;
        width: 100%;
    }
    .logo{
        font-size: 40px;
    }
    .icons{
        align-items: center;
    }
    .line2,
    .line3{
        font-size: 17px;
    }
    .rectangleForms{
        margin-top: 20px;
    }
    .nameAndMail{
        margin-bottom: 0;
    }
    .button{
        flex-direction: column;
    }
    .sendMessageButton{
        margin-right: 0;
    }
    .noreply{
        margin-top: 30px;
        text-align: center;
    }
    .writeYourMessage,
    .companyName,
    .subject,
    .yourName,
    .yourEmail{
        box-sizing: border-box;
        margin-bottom: 30px;
    }
    .forms{
        margin-bottom: 60px;
    }
}
