.getInTouch{
    height: 368px;
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;

}
.back{
    position: absolute;
    z-index: 1;
    background-color: red;
    opacity: 0.4;
    height: 100%;
    width: 100%;
}
.getinTouchImage{
    position: absolute;
    top: -650px;
    z-index: 0;
}
.text{
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60%;
    padding-top: 85px;
    justify-content: space-around;
}
.callToAction{
    font-family: Roboto Slab;
    font-size: 30px;
    color: white;
    text-align: center;
}
.getInTouchButton{
    width: 176px;
    height: 48px;
    font-family: Roboto Slab;
    font-size: 18px;
    background-color: transparent;
    color: white;
    border-radius: 3px;
    border-color: white;
    cursor: pointer;
}
.getInTouchButton:hover{
    background-color: white;
    color: #c0301c;
}
.getInTouchButton:focus{
    outline: none;
}