.latestWork {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 100px;
}
.latestWorkAlign {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    font-family: Montserrat Regular;
    font-size: 20px;
    height: 88px;
    margin-bottom: 74px;
}
.latestWorkMenu {
    display: flex;
    flex-direction: row;
    width: 410px;
    font-family: Roboto Slab;
    font-size: 14px;
}
.latestWorkMenu > .menuElement:first-child {
    margin: 0;
}
.menuElement {
    margin-left: 30px;
    cursor: pointer;
}
.menuElement:hover {
    color: #c0301c;
}
.grid {
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    margin-left: 230px;
    margin-right: 230px;
}
.gridImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.viewButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 80%;
    color: white;
    font-family: Montserrat;
    text-align: center;
    align-items: center;
    border: none;
    font-size: 18px;
    background-color: transparent;
    position: absolute;
}
.viewButton:hover{
    background-color: #c0301c;
    opacity: 0.5;
}
.gridImage:hover {
    .viewButton {
        display: block;
    }
}
.hover {
    position: relative;
}
.viewButtonDecor {
    width: 100px;
    height: 38px;
    background-color: white;
    color: #c0301c;
    cursor: pointer;
}
.viewButtonDecor:focus {
    outline: none;
}
.gridSubtitle {
    font-family: Roboto Slab;
    font-size: 12px;
    padding-top: 16px;
    padding-bottom: 27px;
}
@media screen and (max-width: 320px) {
    .latestWorkMenu,
    .people,
    .listOfServices,
    .headerMenu,
    .leftMenu {
        flex-direction: column;
    }
    .AboutUsContent,
    .column,
    .listOfServices,
    .titleServicesAlign,
    .latestWorkMenu {
        width: 100%;
        height: 100%;
    }
    .latestWorkAlign {
        margin-bottom: 60px;
    }
    .menuElement {
        margin: 0;
        font-size: 30px;
        line-height: 60px;
    }
    .latestWorkMenu {
        align-items: center;
    }
    .titleServices {
        text-align: center;
    }
    .latestWorkAlign {
        height: 100%;
    }
    .grid{
        display: block;
    }
    .gridImage, .viewButton{
        width: 249px;
        height: 249px;
        overflow: hidden;
    }
    .viewButton{
        display: flex;
    }
    .hover{
        margin-bottom: 30px;
    }
    .viewButton{
        background-color: #c0301c;
    }

}
