.recentBlogPosts {
    width: 100%;
}
.table {
    margin-top: 100px;
    width: 70%;
}
.startUpIdeas,
.posts,
.startUpContent {
    display: flex;
    flex-direction: row;
}
.tableImage {
    width: 460px;
    height: 320px;
}
.startUpTitle,
.startUpText {
    display: flex;
    flex-direction: column;
}
.tablePosition {
    display: flex;
    justify-content: center;
}
.data {
    font-family: Montserrat Bold;
    color: #777777;
    font-size: 24px;
    border: 3px solid #555555;
    padding: 5px 20px;
}
.size,
.textLorem {
    font-size: 14px;
}
.startUpIdeas {
    font-family: Montserrat Bold;
    color: #777777;
    font-size: 16px;
}
.startUpIdeas:hover,
.startUpIdeas:hover,
.readMore:hover {
    color: #c0301c;
    cursor: pointer;
}
.startUpSubtitle {
    font-family: Roboto Slab;
    color: #777777;
    font-size: 13px;
    font-style: italic;
}
.textLorem,
.readMore {
    font-family: Roboto Slab;
    color: #777777;
    line-height: 23px;
}
.readMore {
    font-weight: bold;
    font-size: 13px;
}
.posts {
    margin-bottom: 76px;
}
.startUpText {
    margin-left: 39px;
}
.data {
    margin-right: 27px;
}
.startUpContent,
.startUpIdeas {
    margin-bottom: 20px;
}
.textLorem {
    margin-bottom: 28px;
}
.recentBlogPosts {
    padding-bottom: 130px;
}

@media screen and (max-width: 320px) {
    .tableImage {
        width: 100%;
        height: 100%;
        margin-bottom: 60px;
    }
    .recentBlogPosts{
        padding-bottom: 0;
    }
    .startUpText{
        margin: 0;
    }
    .table{
        margin-top: 60px;
        width: 100%;
    }
    .tablePosition{
        justify-content: start;
    }
    .startUpContent{
        margin-bottom: 60px;
    }
    .textLorem{
        font-size: 20px;
        text-align: center;
    }
    .startUpIdeas{
        font-size: 23px;
    }
    .data{
        font-size: 30px;
    }
    .readMore{
        text-align: center;
    }
}
