$gr-text:#555555;

.services{
    height: 579px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $gr-text;
    font-family: Montserrat Regular;
    font-size: 20px;
    margin-bottom: 200px;
}
.titleServicesAlign{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $gr-text;
    font-family: Montserrat Regular;
    font-size: 20px;
    height: 92px;
}
.titleServices{
    font-weight: bold;
}
.bline{
    width: 51px;
    height: 2px;
    background-color: #555555;
}
.listOfServices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 218px;
}
.column{
    width: 345px;
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.ellipse{
    width: 90px;
    height: 90px;
}
.Aletter{
    position: absolute;
}
.smallImages{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.columnTitle{
    color: $gr-text;
    font-family: Montserrat Regular;
    font-size: 14px;
    margin-top: 20px;
}
.loremIpsum{
    color: $gr-text;
    font-family: Roboto Slab;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}
@media screen and (max-width: 320px) {
    .titleServices {
       font-size: 30px;
    }
    .subtitleServices{
        text-align: center;
    }
    .services, 
    .bline{
        margin-bottom: 60px;
        margin-top: 30px;
    }
    .subtitleServices, 
    .loremIpsum{
        margin-bottom: 30px;
    }
    .columnTitle{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}