// @font-face
//     font-family: "Montserrat Bold"
//     src : url("./fonts/Montserrat Bold.ttf")
$titleColor: white;

.headerBackground{
    width: 100%;
    height: 770px;
    overflow: hidden;
    position: relative;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.imageForHeader{
    position: absolute;
    z-index: 0;
    background-image: url(../assets/img/BackgroundImage.png);
    width: 100%;
    height: 100%;
    height: 770px;
}
.imageBackground{
    position: absolute; 
    background-color: black;
    opacity: 0.5;
    z-index: 5;
    width: 100%;
    height: 100%;
}
.startUp{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    justify-content: space-between;
    height: 470px;
    z-index: 6;
    width: 100%;
}
.headerMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}
.logo{
    font-size: 24px;
    font-family: Montserrat;
    font-weight: bold;
    color: $titleColor;
    cursor: pointer ;
}
.leftMenu{
    display: flex;
    flex-direction: row;
    color: $titleColor;
    font-family: Montserrat Regular;
    font-size: 14px;
    width: 528px;
    justify-content: space-between;

}
a{
    text-decoration: none;
}
a:visited {
    color: white;
}
.headerContent{
    height: 193px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.title{
    color: $titleColor;
    font-family: Montserrat Regular;
    font-size: 48px;
}
.subtitle{
    font-family: Roboto Slab;
    color: $titleColor;
    font-size: 20px;
}
.getStarted{
    color: $titleColor;
    font-family: Montserrat Regular;
    background-color: transparent;
    font-size: 16px;
    width: 175px;
    height: 46px;
    border-color: $titleColor;
    border-radius: 3px;
    cursor: pointer;
}
.getStarted:focus{
    outline: none;
}
.getStarted:hover{
    background-color: white;
    color: #c0301c;
}
@media screen and (max-width: 320px) {
    .startUp,
    .leftMenu {
        width: 100%;
        height: 100%;
    }
    .leftMenu{
        align-items: center;
        font-size: 30px;
        line-height: 60px;

    }
    .logo{
        margin-bottom: 60px;
        margin-top: 30px;
    }
    .title, .subtitle{
        display: none;
    }
    .getStarted{
        width: 220px;
        height: 60px;
        font-family: 25px;
        border: 3px solid white;
    }
    .headerBackground{
        margin-bottom: 60px;
    }
}

